@charset "UTF-8";

*{
    box-sizing: border-box;
}
/* Alterar todo corpo */
body{
    margin: 0;
    background-color: rgb(255, 255, 255);
    color: white;
}
/* Modificando o CSS do topo */
.topo{
    background-color: rgb(68, 68, 166);
    color: white;
    padding: 20px;
    text-align: center;
}
/* Modificando o menu */
.menu{
    background-color: white;
    color: black;
    overflow: hidden;
}
/* Modificando uma div */
.div{
    background-color: white;
    color: black;
}
